body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: #ffffff;
    line-height: 1.5;
    background: url('../images/back-ground.jpg') no-repeat center center fixed;
    /* background-color: #3a3a3a; */
    background-size: cover;
}

#collapse-table {
    overflow: auto;
    overflow-y: scroll;
    height: 500px;
}

.blur-overlay {
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    font-size: 1.5rem;
    border-radius: 25px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}